[submodule "libs/core"]
	path = libs/core
	url = ../qtex-core
[submodule "libs/scenegraph"]
	path = libs/scenegraph
	url = ../qtex-scenegraph
[submodule "libs/elevation"]
	path = libs/elevation
	url = ../qtex-elevation
[submodule "libs/application"]
	path = libs/application
	url = ../qtex-application
[submodule "libs/networking"]
	path = libs/networking
	url = ../qtex-networking
